<div class="input-container">
  <div class="label-container">
    <label *ngIf="label" class="field-label">{{ label }}</label>
    <span *ngIf="showCounter && maxlength" class="character-counter">{{ value.length || 0 }}/{{ maxlength }}</span>
  </div>
  <ion-item lines="none" class="textarea-outline">
    <ion-textarea
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      [rows]="rows"
      [autoGrow]="false"
      [maxlength]="maxlength"
      (ionInput)="onInputChange($event)"
      (ionBlur)="onBlur()">
    </ion-textarea>
  </ion-item>
</div>

