<div class="input-container">
  <label *ngIf="label" class="field-label">{{ label }}</label>
  <ion-item lines="none" class="textarea-outline">
    <ion-textarea
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      [rows]="rows"
      [autoGrow]="false"
      [maxlength]="maxlength"
      (ionInput)="onInputChange($event)"
      (ionBlur)="onBlur()">
    </ion-textarea>
  </ion-item>
  <div *ngIf="showCounter && maxlength" class="character-counter">
    {{ value.length || 0 }}/{{ maxlength }}
  </div>
</div>

