.query-badge {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-color-secondary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.badge-icon {
  width: 55px;
  height: 55px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
