<app-form-page [title]="'Bem vindo, ' + userName + '!'" [hasNavbar]="true" class="ion-page" (backClick)="onBackClick()">
  <div class="home-page">
    <form class="home-form">
      <ion-grid>
          <h4>Olá, tudo bem?</h4>


      </ion-grid>
    </form>
  </div>
</app-form-page>

<app-confirmation-modal
  *ngIf="showExitModal"
  [title]="'Deseja sair?'"
  [subtitle]="'Você será redirecionado <br> para a tela inicial.'"
  [icon]="'log-out'"
  [outlineButtonText]="'Sim'"
  [primaryButtonText]="'Não'"
  (confirm)="onCancelExit()"
  (cancel)="onConfirmExit()"
  (close)="onCloseModal()"
></app-confirmation-modal>

<app-client-navbar [cartItemCount]="cartItemCount"></app-client-navbar>
