.btn-primary {
  --background: var(--ion-color-secondary);
  --color: #ffffff;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  --border-radius: 100px;
  --border-width: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

