.profile-page {
  padding: 20px;

  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .profile-form {
    ion-grid {
      padding: 0;
    }
  }
}

