.profile-placeholder {
  width: 100%;
  height: 100%;
  min-height: 120px;
  min-width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 4rem;
  }
}
