.input-container {
  margin-bottom: 5px;
}

.field-label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #000;
}

.input-outline {
  display: flex;
  align-items: center;
  --background: #fff;
  background: #fff;
  border-radius: 100px;
  padding: 0;
  box-shadow: none;
  border: 2px solid var(--ion-color-secondary, #8a3bf1);
  height: 50px;
  margin: 0;
}

.input-outline ion-input {
  --padding-start: 0px;
  --padding-end: 0px;
  font-size: 15px;
  color: #333;
  width: 100%;
  font-weight: 500;
}

.input-outline ion-input::part(native) {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 500;
}

.toggle-password-btn {
  margin: 0;
  height: 40px;
  min-width: 40px;
  --padding-start: 0px;
  --padding-end: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-password-btn ion-icon {
  font-size: 20px;
  color: var(--ion-color-secondary, #8a3bf1);
  &:hover {
    color: var(--ion-color-secondary-shade, #7a35d9);
  }
}

.input-outline.error {
  --border-color: var(--ion-color-danger, #eb445a);

  .toggle-password-btn {
    --color: var(--ion-color-danger, #eb445a);
  }

  .toggle-password-btn ion-icon {
    color: var(--ion-color-danger, #eb445a);
  }
}

.input-outline.success {
  --border-color: var(--ion-color-success, #2fdf75);
}

.input-outline.disabled {
  --border-color: #d0d0d0;
  --background: #f5f5f5;
  opacity: 0.6;
  pointer-events: none;

  .toggle-password-btn {
    --color: #999;
    pointer-events: none;

    ion-icon {
      color: #999;
    }
  }
}
