<div class="input-container">
  <label *ngIf="label" class="field-label">{{ label }}</label>
  <ion-item lines="none" class="input-outline">
    <ion-input
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (ionInput)="onInputChange($event)"
      (ionBlur)="onBlur()">
    </ion-input>
    <ion-button
      fill="clear"
      slot="end"
      (click)="togglePasswordVisibility()"
      class="toggle-password-btn"
      [attr.aria-label]="showPassword ? 'Ocultar senha' : 'Mostrar senha'">
      <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
    </ion-button>
  </ion-item>
</div>
