.search-input {
  --padding-start: 8px;
  --padding-end: 8px;
  --border-radius: 8px;
  --background: #fafafa;
  --inner-padding-end: 8px;
  --border-width: 0;
  --border-style: none;
  --highlight-height: 0;
  --min-height: none;
  --border-color: transparent;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
  margin: 0;
  border-radius: 20px;
  width: 100%;

  &::part(native) {
    border: none;
    --border-width: 0;
    --inner-border-width: 0;
  }

  ion-icon {
    color: var(--ion-color-medium);
    margin-right: 10px;
    margin-left: 5px;

  }

  ion-input {
    --padding-start: 0;
    width: 100%;
    --border-width: 0;
    --highlight-height: 0;
  }
}
