.form-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.back-button ion-icon {
  font-size: 28px;
}

.header-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 70px;
  max-height: 80px;
}

.buffet-banner {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
}

.content-section {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


