.index-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buffet-banner {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 50px;
}
