.input-container {
  margin-bottom: 5px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
s
.field-label {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.input-outline {
  display: flex;
  align-items: center;
  --background: #fff;
  background: #fff;
  border-radius: 100px;
  padding: 0;
  box-shadow: none;
  border: 2px solid var(--ion-color-secondary, #8a3bf1);
  height: 50px;
  margin: 0;
}

.currency-prefix {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-left: 16px;
  margin-right: 4px;
}

.input-outline ion-input {
  --padding-start: 0px;
  --padding-end: 16px;
  font-size: 15px;
  color: #333;
  width: 100%;
  font-weight: 500;
}

.input-outline ion-input::part(native) {
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

.input-outline ion-input::placeholder {
  color: rgba(0,0,0,0.45);
  font-weight: 500;
}

