.order-address-page {
  padding: 20px 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: 100%;
}

.button-container {
  margin-top: auto;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 20px 0;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}
