<div class="carousel-container"
     (touchstart)="onTouchStart($event)"
     (touchmove)="onTouchMove($event)"
     (touchend)="onTouchEnd()">

  <div class="carousel-slides"
       [style.transform]="getTransform()"
       [style.transition]="getTransitionStyle()">
    <div *ngFor="let image of extendedImages; let i = index"
         class="carousel-slide"
         [style.background-image]="'url(' + image + ')'">
    </div>
  </div>

  <div class="carousel-indicators">
    <button *ngFor="let img of carouselImages; let i = index"
            class="carousel-indicator"
            [class.active]="i === getActiveIndicatorIndex()"
            (click)="goToSlide(i)"
            [attr.aria-label]="'Ir para slide ' + (i + 1)">
    </button>
  </div>
</div>
