<div class="order-item-card" (click)="onCardClick()">
  <div class="card-content-wrapper">
    <div class="image-container">
      <ng-container *ngIf="imageUrl; else placeholder">
        <ion-img [src]="imageUrl" [alt]="title"></ion-img>
      </ng-container>
      <ng-template #placeholder>
        <app-image-placeholder></app-image-placeholder>
      </ng-template>
    </div>

    <div class="card-text-content">
      <ion-text [style.color]="secondaryColor$ | async">
        <h2 class="title">{{ title }}</h2>
      </ion-text>
      <ion-text color="medium">
        <p class="description">{{ description }}</p>
      </ion-text>
    </div>

    <div class="card-actions">
      <div class="remove-button" (click)="onRemoveClick($event)">
        <app-delete-circle size="medium"></app-delete-circle>
      </div>
    </div>
  </div>
</div>
