:host {
  display: block;
  width: 100%;
}

p, li {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  margin-bottom: 1rem;
}

h4 {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

ul {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

:host ::ng-deep .content {
  align-items: flex-start !important;
  padding: 1rem !important;
  text-align: left;
}

h4:first-of-type {
  margin-top: 0.5rem;
}

p:first-of-type {
  margin-top: 0;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}
