:host {
  display: block;
}

p, li {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  margin-bottom: 1rem;
}

h3, h4 {
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}
