.login-page {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  ion-grid {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }

  ion-row {
    width: 100%;
  }

  ion-col {
    width: 100%;
    padding: 0;
  }
}

.center-row {
  text-align: center;
}

ion-row {
  margin-bottom: 10px;
}

.forgot {
  font-size: 15px;
  color: rgba(0,0,0,0.85);
  text-align: center;
  margin: 0 0 25px 0;
}

.forgot .link {
  color: var(--ion-color-secondary);
  font-weight: 800;
  text-decoration: underline;
}

.subtitle {
  margin: 0 0 25px 0;
  color: var(--ion-color-secondary);
  font-size: 16px;
  font-weight: 800;
}
