.login-page {
  padding: 20px;
  max-width: 7200px;
  margin: 10px 0;
  box-sizing: border-box;
}

.login-form {
  ion-grid {
    width: 100%;
  }
}

.center-row {
  text-align: center;
}


ion-row {
  margin-bottom: 10px;
}


.forgot {
  font-size: 15px;
  color: rgba(0,0,0,0.85);
  text-align: center;
  margin: 0 0 25px 0;
}

.forgot .link {
  color: var(--ion-color-secondary);
  font-weight: 800;
  text-decoration: underline;
}

.subtitle {
  margin: 0 0 25px 0;
  color: var(--ion-color-secondary);
  font-size: 16px;
  font-weight: 800;
}
