<app-form-page title="Login">
  <div class="login-page">
    <form class="login-form">
      <ion-grid>

        <ion-row class="center-row">
          <ion-col>
            <app-delete-button
              text="Excluir">
            </app-delete-button>
          </ion-col>
        </ion-row>

        <ion-row class="center-row">
          <ion-col>
            <app-whatsapp-button
              text="Entrar em Contato">
            </app-whatsapp-button>
          </ion-col>
        </ion-row>

        <ion-row class="center-row">
          <ion-col>
            <app-cancel-button
              text="Cancelar">
            </app-cancel-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </div>
</app-form-page>
