<app-form-page title="Login" class="ion-page">
  <div class="login-page">
    <form class="login-form">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <app-text-input
                          label="Email:"
                          placeholder="Digite seu email">
                  </app-text-input>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <app-password-input
                          label="Senha:"
                          placeholder="Digite sua senha">
                  </app-password-input>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <p class="forgot"><span class="link" (click)="goToForgotPassword($event)">Esqueceu sua senha?</span></p>
                  <app-primary-button
                          text="Entrar"
                          type="submit"
                          (buttonClick)="toDoLogin($event)">
                  </app-primary-button>
              </ion-col>
          </ion-row>

          <ion-row class="center-row">
              <ion-col>
                  <p class="subtitle">Não possui uma conta?</p>
                  <app-outline-button
                          text="Criar Conta"
                          type="submit"
                          (buttonClick)="createAccount($event)">
                  </app-outline-button>
              </ion-col>
          </ion-row>

      </ion-grid>
    </form>
  </div>
</app-form-page>
