.code-input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.code-digit {
  width: 35px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #d0d0d0;
  background: transparent;
  outline: none;
  transition: border-color 0.3s ease;
  color: #000;
  caret-color: var(--ion-color-secondary);

  &:focus {
    border-bottom-color: var(--ion-color-secondary);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}
