.food-form-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 20px 16px 75px 16px;
  box-sizing: border-box;
}

.image-upload-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 350px;
  min-height: 350px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #e0e0e0;

  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  app-image-placeholder {
    width: 100%;
    height: 100%;
    display: block;

    ::ng-deep ion-icon {
      font-size: 5rem;
    }
  }

  app-image-circle {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

.form-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  app-text-input,
  app-textarea-input,
  app-selected-input {
    width: 100%;
  }
}

.button-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 12px 16px 60px;
  background: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 12px;

  app-primary-button {
    width: 100%;
  }
}

