.foods-page {
  padding: 0 20px;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;

  .foods-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 100%;

    app-search-input {
      width: 100%;
      -webkit-tap-highlight-color: transparent;
    }

    app-default-categories {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding: 0;
    }

    ion-grid {
      padding: 0;
      width: 100%;
      --ion-grid-padding: 0;
    }
  }

  .foods-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 16px 0;
  }
}
