<ion-content [style.--background]="primaryColor">
  <div class="form-page-container">

    <div [style.color]="accentColor" class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </div>

    <div class="notification-button" [hidden]="!showNotification">
      <app-notification-circle
        [size]="'medium'"
        [hasNewNotification]="hasNewNotification"
        (buttonClick)="onNotificationClick($event)">
      </app-notification-circle>
    </div>

    <div class="header-section">
      <img [src]="bannerUrl" alt="Logo do Buffet" class="buffet-banner" />
    </div>

    <main class="content" [class.has-navbar]="hasNavbar">
      <h4 class="page-title">{{ title }}</h4>
        <ng-content></ng-content>
    </main>
  </div>
</ion-content>
