<div class="event-reserve-card" (click)="onCardClick()">
  <!-- Header fixo com título e status na mesma linha -->
  <div class="card-fixed-header">
    <h3 class="card-title" [style.color]="secondaryColor$ | async">{{ title }}</h3>

    <!-- Status Badge -->
    <app-pending-status *ngIf="status === 'pending'"></app-pending-status>
    <app-approved-status *ngIf="status === 'approved'" [type]="type"></app-approved-status>
    <app-canceled-status *ngIf="status === 'canceled'" [type]="type"></app-canceled-status>
    <app-completed-status *ngIf="status === 'completed'"></app-completed-status>
  </div>

  <div class="card-content">
    <p class="card-description">{{ description }}</p>

    <div class="card-action">
      <app-open-circle
        size="medium"
        (buttonClick)="onOpenClick($event)">
      </app-open-circle>
    </div>
  </div>
</div>

