<app-model-page title="Esqueci a Senha" (backClick)="onBackClick()">
  <div class="content-container">
    <h2 class="page-title">Redefinir senha</h2>

    <p class="description-text">
      Digite seu e-mail cadastrado para <br>
      receber o código de verificação
    </p>

    <form class="form-container">
      <app-text-input
        label="E-mail"
        placeholder="Digite seu e-mail"
        type="email"
        [formControl]="emailControl"
      ></app-text-input>

      <div class="error-message" *ngIf="emailControl.touched && emailControl.invalid">
        <p>E-mail inválido</p>
      </div>
    </form>

    <div class="button-container">
      <app-primary-button
        text="Enviar código"
        [disabled]="!isFormValid || isLoading"
        (buttonClick)="onSubmit()">
      </app-primary-button>
    </div>

    <div class="back-to-login">
      <p class="back-text">Lembrou a senha?</p>
      <a class="back-link" (click)="onBackClick()">Fazer login</a>
    </div>
  </div>
</app-model-page>
