@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --black: #000;
  --white: #eee;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
}

// Remove ripple effect from all buttons
ion-button {
  --ripple-color: transparent !important;
  --color-activated: var(--color) !important;
  --background-activated: var(--background) !important;
  --background-focused: var(--background) !important;
  --color-focused: var(--color) !important;
}

// Remove highlight effect on touch
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
