@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --black: #000;
  --white: #eee;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
}
