@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #eee;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
