.image-placeholder {
  width: 100%;
  height: 100%;
  min-height: 100px;
  min-width: 100px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 2rem;
    color: #999;
  }
}
